<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("header") %>
	</head>

	<body class="hold-transition sidebar-mini layout-fixed">
		<div class="wrapper">
			<%- include("sidebar") %>

			<div class="content-wrapper"><%- body %></div>

			<%- include("footer") %>
		</div>
	</body>
</html>
